.about-container{
  width: 55vmin;
  padding-top: 25vmin;
}

a{
  color: yellow;
}

svg{
  height: 45vmin;
  position: absolute;
  bottom: 0;
  right: 0;
}

path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}