html{
  background: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  height: 100vh;
}

.page{
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  height: 100vh;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  font-size: calc(10px + 3vmin);
  text-transform: lowercase;
}

.title{
  font-size: calc(10px + 1.2vmin);
  margin-bottom: 10px;
}

.name{
  height: 37vmin;
  width: 35vmin;
  border: 2px solid white;
  position: relative;
  margin-bottom: 30px;
  animation: cardcolor 20s ease-in-out infinite alternate;
  &:hover::after{
    content: 'welcome \A please explore and enjoy';
    display: block;
    white-space: pre;
    opacity:1;
  }
  &::after{
    content: 'juliette \A designer//developer';
    display: block;
    white-space: pre;
    font-size: calc(10px + 1.2vmin);
    color: black;
    text-align: right;
    background: white;
    position: absolute;
    padding-top: 15px;
    height: 18%;
    width: 100%;
    bottom: 0px;
    right: 0px;
  }
}

.external-nav {
  display: grid;
  grid-row: span 1 / -1;
  justify-self: end;
  grid-column: span 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 45vmin;
  margin-top: 5px;
  justify-items: center;
}

.ext-nav-link img{
  height: 3vmin;
  transition: .3s ease;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.route{
  text-decoration: none;
  color: white;
  height: 45px;
  width: 55px;
}

.fade-appear,
.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-active{
  opacity:0;
  transition: opacity 150ms linear;
}

@keyframes cardcolor {
  0%{
    background: #DE413A;  
  }
  10%{
    background: #5B2C36;
  }
  20%{
    background: #EBCDD5;
  }
  30%{
    background: #C58F69;
  }
  40%{
    background: #233B5C;
  }
  50%{
    background: #8F9190;
  }
  60%{
    background: #0A585C;
  }
  70%{
    background: #9A9740;
  }
  80%{
    background: #5285C4;
  }
  90%{
    background: #C26224;
  }
  100%{
    background: #9D789A;
  }
}