html{
  background: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  height: 100vh;
}

.app {
  justify-items: center;
  position: absolute;
  justify-content: center;
  left: 0;
  right: 0;
}

.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  color: white;
  max-width: 100vw;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  text-transform: uppercase;
  text-align: left;
}

svg{
  height: 55vmin;
  margin-top: 10vh;
}

path {
  stroke: white;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 2.5s linear forwards;
}

.title-parent{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.name{
  font-size: calc(10px + 6vmin);
  animation: fadein 1s linear forwards 2s;
}

.title{
  font-size: calc(10px + 3vmin);
  animation: fadeintitle 1s linear forwards 2.1s;
}

.name, .title{
  margin-bottom: 10px;
  opacity: 0;
}

.external-nav {
  display: grid;
  grid-row: span 1 / -1;
  grid-column: span 1 / -1;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 69vw;
  margin-top: 5px;
}

.ext-nav-link img{
  height: 5vmin;
  transition: .3s ease;
  opacity: 0;
  animation: fadein 1s linear forwards 2.5s;
  &:hover,
  &:focus {
    transform: scale(1.5);
  }
}

.route{
  text-decoration: none;
  color: white;
  height: 45px;
  width: 55px;
}

h1{
  align-self: start;
  text-transform: uppercase;
  font-size: calc(10px + 10vmin);
  margin-top: 0;
  margin-bottom: 1em;
}

p, li{
  font-size: 13px;
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}
@keyframes fadeintitle {
  to {
    opacity: .5;
  }
}

@keyframes dash {
  0%{
    stroke: white;
  }
  25%{
    stroke: blue;
  }
  50%{
    stroke: red;
  }
  75%{
    stroke: yellow;
  }
  100%{
    stroke-dashoffset: 0;
    stroke: white;
  }
}

@media screen and (min-width: 540px){
  p, li{
    font-size: calc(10px + .7vmin);
  }
  svg{
    height: 30vmin;
    margin: 10vh 1vw 0 0;
  }
  .name{
    font-size: calc(10px + 3.5vmin);
  }

  .title{
    font-size: calc(10px + 1.8vmin);
  }

  .external-nav{
    width: 40vw;
  }
  .ext-nav-link {
    img{
      margin: 10px 0;
      height: 4vmin;
      }
  }
}

@media screen and (min-width: 1024px){
  .header{
    height: 100vh;
    display: grid;
    grid-template-columns: 35vmin auto;
    justify-items: center;
    justify-content: center;
  }
  .external-nav{
    justify-items: start;
    width: 30vw;
  }
  .ext-nav-link {
    img{
      height: 3vmin;
      }
  }

  .name{
    font-size: calc(10px + 6vmin);
  }

  .title{
    font-size: calc(10px + 3vmin);
  }

  svg{
    height: 35vmin;
    margin: 5vh 1vw 0 0;
  }
  .title-parent{
    align-items: start;
    text-align: left;
  }
}

@media screen and (min-width: 1440px){
  .external-nav{
    width: 20vw;
  }
}