.nav-bar{
  position: fixed;
  left: 0;
  height: 25%;
  ul{
    display: none;
    height: 45%;
    list-style: none;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    li{
      opacity: .8;
      cursor: pointer;
    }
  }
  z-index: 10;
  text-transform: uppercase;
}

.route{
  display: inline-block;
  position: relative;
  &.active{
    color: yellow;
  }
}

.nav-link{
  transition: .2s ease;
}

.route:hover{
  .nav-link{
    transform: scale(1.1);
  }
}

@media screen and (min-width: 540px){
  .nav-bar ul{
    display: grid;
    //JULIETTE take this out
    display: none;
  }
  img{
    margin: 25px;
  }
}
