.nav-bar{
  position: absolute;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 50%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  z-index: 10;
  text-transform: uppercase;
}

.route{
  display: inline-block;
  position: relative;
  &::after{
    content: '';
    height: 100%;
    position: absolute;
    border-right: 3px solid yellow;
    top: -1px;
    left: 22px;
    transform: scaleY(0);
    transition: .45s ease;
  }
}

.nav-link{
  transition: .2s ease;
}

.route:hover{
  .nav-link{
    transform: scale(1.1);
  }
}

.active::after{
    transform: scaleY(1);
  }
