.skills{
  margin-bottom: 40px;
}

.skills-container{
  display: grid;
  border-left: 4px solid yellow;
}

.skills-parent{
  width: 60vw;
}

.skills-section{
  padding-left: 15px;
}

.skills-languages,
.skills-frameworks{
  margin-bottom: 55px;
}

h3{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

.skills-container li{
  list-style: none;
}


@media screen and (min-width: 800px){
  .skills-container{
    display: grid;
    grid-template-columns: .8fr 1fr 1fr;
    border: none;
  }
  .skills-section{
    border-left: 4px solid yellow;
  }
}
