.skills-container{
  display: grid;
}

.skills-parent{
  width: 60vw;
}

.skills-section{
  border-left: 4px solid yellow;
  padding-left: 15px;
}

h3{
  display: inline-block;
  position: relative;
  margin-top: 0;
}

.skills-container li{
  list-style: none;
}


@media screen and (min-width: 540px){
  .skills-container{
    display: grid;
    grid-template-columns: .8fr 1fr 1fr;
  }
}
