.app {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr;
  text-align: center;
  background: black;
  height: 100vh;
}


.page{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  color: white;
}

.headshot{
  height: 25vh;
  -webkit-mask-image:-webkit-gradient(radial, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: radial-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
}

.title{
  font-size: calc(10px + 1.2vmin);
  margin-bottom: 10px;
}

.external-nav {
  display: grid;
  grid-row: span 1 / -1;
  justify-self: end;
  grid-column: span 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 110%;
  max-width: 400px;
  margin-top: 5px;
  justify-items: center;
  border-top: 3px solid white;
}

.nav-link img{
  height: 25px;
}

.nav-link img:hover,
.nav-link img:focus {
  transform: scale(1.5);
  transition: .2s ease-in-out;
}

.internal-nav {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  width: 110%;
  max-width: 400px;
  margin-top: 5px;
  justify-items: center;
}

.route{
  text-decoration: none;
  background: white;
  color: black;
  height: 45px;
  width: 55px;
}

.fade-appear,
.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-active{
  opacity:0;
  transition: opacity 150ms linear;
}