html{
  background: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  height: 100vh;
}

.app {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  height: 100vh;
}

.page{
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  color: white;
}

.nav-bar{
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
  font-size: calc(10px + 3vmin);
  text-transform: lowercase;
}

.title{
  font-size: calc(10px + 1.2vmin);
  margin-bottom: 10px;
}

.name{
  height: 37vmin;
  width: 35vmin;
  border: 2px solid white;
  position: relative;
  margin-bottom: 30px;

}

.name:hover::before{
  content: 'please explore and enjoy';
  opacity:1;
}

.name:hover::after{
  content: 'welcome';
  opacity:1;
}
.name::before{
  content: 'designer//developer';
  color: black;
  text-align: right;
  font-size: calc(10px + 1vmin);
  font-weight: normal;
  background: white;
  position: absolute;
  width: 100%;
  bottom: calc(10px);
  z-index: 12;
  right: 0px;
}

.name::after{
  content: 'juliette';
  font-size: calc(10px + 1.5vmin);
  color: black;
  text-align: right;
  background: white;
  position: absolute;
  padding-top: 10px;
  height: 18%;
  width: 100%;
  bottom: 0px;
  right: 0px;
}

.external-nav {
  display: grid;
  grid-row: span 1 / -1;
  justify-self: end;
  grid-column: span 1 / -1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 45vmin;
  margin-top: 5px;
  justify-items: center;
}

.nav-link img{
  height: 3vmin;
  transition: .5s ease;
}

.nav-link img:hover,
.nav-link img:focus {
  transform: scale(1.5);
}

.route{
  text-decoration: none;
  color: white;
  height: 45px;
  width: 55px;
}

.fade-appear,
.fade-enter{
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit{
  opacity: 1;
}

.fade-exit.fade-exit-active{
  opacity:0;
  transition: opacity 150ms linear;
}